<div class="bg-light">
    <div class="container space-2">
        <div class="row justify-content-between align-items-center mb-4">
            <!-- Title -->
            <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
                <h2 class="h6 mb-0">52 adresses vous accueillent ! </h2>
            </div>
            <!-- End Title -->

            <!-- Filter -->
            <div class="col-sm-8 col-md-6 text-sm-right">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <!-- Select -->
                        <div class="dropdown bootstrap-select js-select dropdown-select fit-width">
                            <select class="js-select selectpicker dropdown-select" data-width="fit" data-style="btn-soft-primary btn-sm" tabindex="-98">
                                <option value="alphabeticalOrderSelect1" selected="">A à Z</option>
                                <option value="alphabeticalOrderSelect2">Z à A</option>
                            </select>
                        </div>
                        <!-- End Select -->
                    </li>
                    <li class="list-inline-item">
                        <span class="btn btn-sm btn-soft-primary active">
                        <span class="fas fa-th-large"></span>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-soft-primary" href="#">
                        <span class="fas fa-list"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Filter -->
        </div>

        <div class="mb-7">
            <div class="card-deck d-block d-md-flex">
                <!-- Projects -->
                <div class="card mb-5">
                    <div class="card-body p-4">
                        <!-- List of Icons -->
                        <div class="row justify-content-between align-items-center mb-4">
                            <div class="col-6">
                                <a class="small text-secondary" href="#">
                                    <span class="fas fa-bookmark text-primary mr-1"></span>
                                    OPN-52
                                </a>
                            </div>
                            
                            <div class="col-6 text-right">
                                <!-- Settings -->
                                <div class="position-relative">
                                    <a id="settingsDropdown1Invoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown1" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown1" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                        <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                    </a>

                                    <div id="settingsDropdown1" class="dropdown-menu dropdown-unfold u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px; animation-duration: 300ms;">
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cogs dropdown-item-icon"></small>
                                            Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-code-branch dropdown-item-icon"></small>
                                            Repository
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cloud-download-alt dropdown-item-icon"></small>
                                            Download
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-archive dropdown-item-icon"></small>
                                            Archive
                                        </a>
                                    </div>
                                </div>
                                <!-- End Settings -->
                            </div>
                        </div>
                        <!-- End List of Icons -->

                        <div class="text-center">
                            <div class="u-lg-avatar mx-auto mb-3">
                                <%= image_tag asset_pack_path('init/bootstrap/theme/img/160x160/img6.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                            </div>

                            <!-- Title -->
                            <div class="mb-4">
                                <h3 class="h5 mb-1">Lyon</h3>
                                <p class="font-size-1">T123 rue de la liberté</p>
                            </div>
                            <!-- End Title -->

                            <h4 class="h6 font-weight-normal mb-1">12 visiteurs vous précèdent</h4>

                            <!-- Members List -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Patrick Garner">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img1.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Collins">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img2.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliza Donovan">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img3.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cler Lockhart">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Josephina Mack">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img5.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0">
                                    <a class="btn btn-sm btn-icon btn-light rounded-circle" href="#">
                                        <span class="btn-icon__inner">+7</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Members List -->
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <!-- Budget & Priority -->
                        <div class="row align-items-center">
                            <a href="#" class="col-6 u-ver-divider">
                                <span class="text-dark">Carte</span>
                            </a>
                            <a href="#" class="col-6">
                                <span class="fas fa-arrow-up text-warning small"></span>
                                <span class="text-dark">Prendre rdv</span>
                            </a>
                        </div>
                        <!-- End Budget & Priority -->
                    </div>
                </div>
                <!-- End Projects -->

                <!-- Projects -->
                <div class="card mb-5">
                    <div class="card-body p-4">
                        <!-- List of Icons -->
                        <div class="row justify-content-between align-items-center mb-4">
                            <div class="col-6">
                                <a class="small text-secondary" href="#">
                                    <span class="fas fa-bookmark text-primary mr-1"></span>
                                    OPN-51
                                </a>
                            </div>
                            
                            <div class="col-6 text-right">
                                <!-- Settings -->
                                <div class="position-relative">
                                    <a id="settingsDropdown1Invoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown1" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown1" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                        <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                    </a>

                                    <div id="settingsDropdown1" class="dropdown-menu dropdown-unfold u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px; animation-duration: 300ms;">
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cogs dropdown-item-icon"></small>
                                            Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-code-branch dropdown-item-icon"></small>
                                            Repository
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cloud-download-alt dropdown-item-icon"></small>
                                            Download
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-archive dropdown-item-icon"></small>
                                            Archive
                                        </a>
                                    </div>
                                </div>
                                <!-- End Settings -->
                            </div>
                        </div>
                        <!-- End List of Icons -->

                        <div class="text-center">
                            <div class="u-lg-avatar mx-auto mb-3">
                                <%= image_tag asset_pack_path('init/bootstrap/theme/img/160x160/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                            </div>

                            <!-- Title -->
                            <div class="mb-4">
                                <h3 class="h5 mb-1">Nice</h3>
                                <p class="font-size-1">T123 rue de la liberté</p>
                            </div>
                            <!-- End Title -->

                            <h4 class="h6 font-weight-normal mb-1">8 visiteurs vous précèdent</h4>

                            <!-- Members List -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Patrick Garner">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img1.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Collins">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img2.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliza Donovan">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img3.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cler Lockhart">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Josephina Mack">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img5.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0">
                                    <a class="btn btn-sm btn-icon btn-light rounded-circle" href="#">
                                        <span class="btn-icon__inner">+3</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Members List -->
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <!-- Budget & Priority -->
                        <div class="row align-items-center">
                            <a href="#" class="col-6 u-ver-divider">
                                <span class="text-dark">Carte</span>
                            </a>
                            <a href="#" class="col-6">
                                <span class="fas fa-arrow-up text-warning small"></span>
                                <span class="text-dark">Prendre rdv</span>
                            </a>
                        </div>
                        <!-- End Budget & Priority -->
                    </div>
                </div>
                <!-- End Projects -->
                
                <!-- Projects -->
                <div class="card mb-5">
                    <div class="card-body p-4">
                        <!-- List of Icons -->
                        <div class="row justify-content-between align-items-center mb-4">
                            <div class="col-6">
                                <a class="small text-secondary" href="#">
                                    <span class="fas fa-bookmark text-primary mr-1"></span>
                                    OPN-50
                                </a>
                            </div>
                            
                            <div class="col-6 text-right">
                                <!-- Settings -->
                                <div class="position-relative">
                                    <a id="settingsDropdown1Invoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown1" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown1" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                        <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                    </a>

                                    <div id="settingsDropdown1" class="dropdown-menu dropdown-unfold u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px; animation-duration: 300ms;">
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cogs dropdown-item-icon"></small>
                                            Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-code-branch dropdown-item-icon"></small>
                                            Repository
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cloud-download-alt dropdown-item-icon"></small>
                                            Download
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-archive dropdown-item-icon"></small>
                                            Archive
                                        </a>
                                    </div>
                                </div>
                                <!-- End Settings -->
                            </div>
                        </div>
                        <!-- End List of Icons -->

                        <div class="text-center">
                            <div class="u-lg-avatar mx-auto mb-3">
                                <%= image_tag asset_pack_path('init/bootstrap/theme/img/160x160/img3.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                            </div>

                            <!-- Title -->
                            <div class="mb-4">
                                <h3 class="h5 mb-1">Bordeaux</h3>
                                <p class="font-size-1">T123 rue de la liberté</p>
                            </div>
                            <!-- End Title -->

                            <h4 class="h6 font-weight-normal mb-1">16 visiteurs vous précèdent</h4>

                            <!-- Members List -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Patrick Garner">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img1.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Collins">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img2.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliza Donovan">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img3.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cler Lockhart">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Josephina Mack">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img5.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0">
                                    <a class="btn btn-sm btn-icon btn-light rounded-circle" href="#">
                                        <span class="btn-icon__inner">+11</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Members List -->
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <!-- Budget & Priority -->
                        <div class="row align-items-center">
                            <a href="#" class="col-6 u-ver-divider">
                                <span class="text-dark">Carte</span>
                            </a>
                            <a href="#" class="col-6">
                                <span class="fas fa-arrow-up text-warning small"></span>
                                <span class="text-dark">Prendre rdv</span>
                            </a>
                        </div>
                        <!-- End Budget & Priority -->
                    </div>
                </div>
                <!-- End Projects -->
            </div>

            <div class="card-deck d-block d-md-flex">
                <!-- Projects -->
                <div class="card mb-5">
                    <div class="card-body p-4">
                        <!-- List of Icons -->
                        <div class="row justify-content-between align-items-center mb-4">
                            <div class="col-6">
                                <a class="small text-secondary" href="#">
                                    <span class="fas fa-bookmark text-primary mr-1"></span>
                                    OPN-49
                                </a>
                            </div>
                            
                            <div class="col-6 text-right">
                                <!-- Settings -->
                                <div class="position-relative">
                                    <a id="settingsDropdown1Invoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown1" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown1" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                        <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                    </a>

                                    <div id="settingsDropdown1" class="dropdown-menu dropdown-unfold u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px; animation-duration: 300ms;">
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cogs dropdown-item-icon"></small>
                                            Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-code-branch dropdown-item-icon"></small>
                                            Repository
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cloud-download-alt dropdown-item-icon"></small>
                                            Download
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-archive dropdown-item-icon"></small>
                                            Archive
                                        </a>
                                    </div>
                                </div>
                                <!-- End Settings -->
                            </div>
                        </div>
                        <!-- End List of Icons -->

                        <div class="text-center">
                            <div class="u-lg-avatar mx-auto mb-3">
                                <%= image_tag asset_pack_path('init/bootstrap/theme/img/160x160/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                            </div>

                            <!-- Title -->
                            <div class="mb-4">
                                <h3 class="h5 mb-1">Dijon</h3>
                                <p class="font-size-1">T123 rue de la liberté</p>
                            </div>
                            <!-- End Title -->

                            <h4 class="h6 font-weight-normal mb-1">9 visiteurs vous précèdent</h4>

                            <!-- Members List -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Patrick Garner">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img1.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Collins">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img2.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliza Donovan">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img3.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cler Lockhart">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Josephina Mack">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img5.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0">
                                    <a class="btn btn-sm btn-icon btn-light rounded-circle" href="#">
                                        <span class="btn-icon__inner">+4</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Members List -->
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <!-- Budget & Priority -->
                        <div class="row align-items-center">
                            <a href="#" class="col-6 u-ver-divider">
                                <span class="text-dark">Carte</span>
                            </a>
                            <a href="#" class="col-6">
                                <span class="fas fa-arrow-up text-warning small"></span>
                                <span class="text-dark">Prendre rdv</span>
                            </a>
                        </div>
                        <!-- End Budget & Priority -->
                    </div>
                </div>
                <!-- End Projects -->

                <!-- Projects -->
                <div class="card mb-5">
                    <div class="card-body p-4">
                        <!-- List of Icons -->
                        <div class="row justify-content-between align-items-center mb-4">
                            <div class="col-6">
                                <a class="small text-secondary" href="#">
                                    <span class="fas fa-bookmark text-primary mr-1"></span>
                                    OPN-48
                                </a>
                            </div>
                            
                            <div class="col-6 text-right">
                                <!-- Settings -->
                                <div class="position-relative">
                                    <a id="settingsDropdown1Invoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown1" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown1" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                        <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                    </a>

                                    <div id="settingsDropdown1" class="dropdown-menu dropdown-unfold u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px; animation-duration: 300ms;">
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cogs dropdown-item-icon"></small>
                                            Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-code-branch dropdown-item-icon"></small>
                                            Repository
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cloud-download-alt dropdown-item-icon"></small>
                                            Download
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-archive dropdown-item-icon"></small>
                                            Archive
                                        </a>
                                    </div>
                                </div>
                                <!-- End Settings -->
                            </div>
                        </div>
                        <!-- End List of Icons -->

                        <div class="text-center">
                            <div class="u-lg-avatar mx-auto mb-3">
                                <%= image_tag asset_pack_path('init/bootstrap/theme/img/160x160/img5.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                            </div>

                            <!-- Title -->
                            <div class="mb-4">
                                <h3 class="h5 mb-1">Strasbourg</h3>
                                <p class="font-size-1">T123 rue de la liberté</p>
                            </div>
                            <!-- End Title -->

                            <h4 class="h6 font-weight-normal mb-1">13 visiteurs vous précèdent</h4>

                            <!-- Members List -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Patrick Garner">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img1.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Collins">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img2.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliza Donovan">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img3.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cler Lockhart">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Josephina Mack">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img5.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0">
                                    <a class="btn btn-sm btn-icon btn-light rounded-circle" href="#">
                                        <span class="btn-icon__inner">+8</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Members List -->
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <!-- Budget & Priority -->
                        <div class="row align-items-center">
                            <a href="#" class="col-6 u-ver-divider">
                                <span class="text-dark">Carte</span>
                            </a>
                            <a href="#" class="col-6">
                                <span class="fas fa-arrow-up text-warning small"></span>
                                <span class="text-dark">Prendre rdv</span>
                            </a>
                        </div>
                        <!-- End Budget & Priority -->
                    </div>
                </div>
                <!-- End Projects -->
                
                <!-- Projects -->
                <div class="card mb-5">
                    <div class="card-body p-4">
                        <!-- List of Icons -->
                        <div class="row justify-content-between align-items-center mb-4">
                            <div class="col-6">
                                <a class="small text-secondary" href="#">
                                    <span class="fas fa-bookmark text-primary mr-1"></span>
                                    OPN-47
                                </a>
                            </div>
                            
                            <div class="col-6 text-right">
                                <!-- Settings -->
                                <div class="position-relative">
                                    <a id="settingsDropdown1Invoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown1" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown1" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                        <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                    </a>

                                    <div id="settingsDropdown1" class="dropdown-menu dropdown-unfold u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px; animation-duration: 300ms;">
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cogs dropdown-item-icon"></small>
                                            Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-code-branch dropdown-item-icon"></small>
                                            Repository
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-cloud-download-alt dropdown-item-icon"></small>
                                            Download
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <small class="fas fa-archive dropdown-item-icon"></small>
                                            Archive
                                        </a>
                                    </div>
                                </div>
                                <!-- End Settings -->
                            </div>
                        </div>
                        <!-- End List of Icons -->

                        <div class="text-center">
                            <div class="u-lg-avatar mx-auto mb-3">
                                <%= image_tag asset_pack_path('init/bootstrap/theme/img/160x160/img6.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                            </div>

                            <!-- Title -->
                            <div class="mb-4">
                                <h3 class="h5 mb-1">Lille</h3>
                                <p class="font-size-1">T123 rue de la liberté</p>
                            </div>
                            <!-- End Title -->

                            <h4 class="h6 font-weight-normal mb-1">15 visiteurs vous précèdent</h4>

                            <!-- Members List -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Patrick Garner">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img1.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Collins">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img2.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliza Donovan">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img3.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cler Lockhart">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img4.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Josephina Mack">
                                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/32x32/img5.jpg'), :alt => "image", :class => "img-fluid rounded-circle" %>
                                    </div>
                                </li>
                                <li class="list-inline-item ml-n3 mr-0">
                                    <a class="btn btn-sm btn-icon btn-light rounded-circle" href="#">
                                        <span class="btn-icon__inner">+10</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Members List -->
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <!-- Budget & Priority -->
                        <div class="row align-items-center">
                            <a href="#" class="col-6 u-ver-divider">
                                <span class="text-dark">Carte</span>
                            </a>
                            <a href="#" class="col-6">
                                <span class="fas fa-arrow-up text-warning small"></span>
                                <span class="text-dark">Prendre rdv</span>
                            </a>
                        </div>
                        <!-- End Budget & Priority -->
                    </div>
                </div>
                <!-- End Projects -->
            </div>
        </div>
    </div>
</div>

