<!-- Header -->
<header class="position-relative u-bg-light-blue-50 overflow-hidden">
    <div id="logoAndNav" class="container mw-95">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">  
            <!-- Logo -->
            <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="bishal" aria-label="Conceptstor">
                <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/conceptstor-logo-bleu.svg'), :alt => "Image Description", :class => "w-80"%>
            </a>
            <!-- End Logo -->

            <!-- Responsive Toggle Button -->
            <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                <span id="hamburgerTrigger" class="u-hamburger__box">
                <span class="u-hamburger__inner"></span>
                </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Navigation -->
            <div id="navBar" class="collapse navbar-collapse py-0">
                <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
                    <!-- A Propos -->
                    <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                        <a id="homeMegaMenu" class="nav-link text-link u-header__nav-link pl-0 text-custom" href="bishal3" aria-haspopup="true" aria-expanded="false">
                            A Propos     
                        </a>
                    </li>
                    <!-- End A Propos -->

                    <!-- Groupe -->
                    <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                        <a id="homeMegaMenu" class="nav-link text-link u-header__nav-link pl-0 text-custom" href="http://www.insiti.co" target="_blank" aria-haspopup="true" aria-expanded="false">
                            Groupe      
                        </a>
                    </li>
                    <!-- End Groupe -->

                    <!-- Button -->
                    <li class="nav-item d-md-inline-block pr-0">
                        <a class="btn btn-custom-secondary btn-sm" href="#connectionModal" data-toggle="modal" data-target="#exampleModal">
                            Me connecter
                        </a>
                    </li>
                    <!-- End Button -->
                </ul>  
            </div>
            <!-- End Navigation -->
        </nav>
        <!-- End Nav -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right m-3 mr-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <div class="d-block text-center p-2 text-custom">
                        <h3 class="modal-title mx-auto" id="exampleModalLabel">Connectez-vous avec</h3>
                        <h3 class="modal-title mx-auto" id="exampleModalLabel">votre compte <span class="font-weight-bold">inSiti </span> </h3>
                    </div>

                    <div class="mx-auto mb-2 w-80 text-center">
                        <a class="btn btn-connection w-80 text-white mt-3" href="https://insiti.com/login">Connexion</a>
                    </div>

                    <div class="text-center mt-1 mb-3">
                        <span class="small text-muted">Pas encore inscrit?</span>
                        <a class="text-link small" href="https://insiti.com/compte">Crée mon compte</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->


    </div>
</header>
<!-- End Header -->

<!-- Main -->
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options='{direction: "normal"}'>
        <!-- Apply your Parallax background image here -->
        <div class="divimage dzsparallaxer--target bg-img-2"></div>

        <!-- Content -->
        <div class="container u-space-3">
            <div class="text-center w-lg-80 mx-auto">
                <h1 class="text-white font-size-48--md-down font-weight-bold">Affichez-vous différemment</h1>
            </div>

            <div class="text-center w-lg-60 mx-auto">
                <p class="lead text-white lh-1">
                    Conceptstor permet aux concepts commerciaux de se présenter avec des belles images et de marquer leur différence par rapport aux autres enseignes afin de conquérir de nouveaux entrepreneurs ou revendeurs.
                </p>
            </div>
        </div>
        <!-- End Content -->
    </div>
    <!-- End Hero Section -->
  
    <!-- Articles Section -->
    <div class="container u-space-3">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Article -->
                <article>
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/900x450/img4.jpg'), :alt => "Image Description", :class => "img-fluid rounded" %>

                    <div class="u-space-1-top mt-2">
                        <!-- Info -->
                        <h2 class="h4">
                            Conceptstor vous permet de montrer ce qui ne se voit pas déjà
                        </h2>
                        <p class="mb-0 text-left mt-4">
                            Conceptstor vous permet de mettre en lumière les multiples facettes de votre concept - sa culture, son ADN, ses valeurs, son engagement ... - à travers l’image. Tout ce qui fait votre différenciation par rapport aux autres nous intéresse et s’affiche sur un grand et beau mur d’images.
                        </p>
                        <!-- End Info -->
                    </div>
                </article>
                <!-- End Article -->

                <!-- Divider -->
                <div class="u-space-2 px-4">
                    <hr class="my-0">
                </div>
                <!-- End Divider -->

                <!-- Article -->
                <article>
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/900x450/img1.jpg'), :alt => "Image Description", :class => "img-fluid rounded" %>
                    <div class="u-space-1-top mt-2">
                        <!-- Info -->
                        <h2 class="h4">Un outil de comparaison adapté aux sensibilités du public</h2>
                        <p class="mb-0 text-left mt-4">
                            Conceptstor permet au public de comparer les différents concepts de votre secteur d’activité. Notre site les aide à identifier les concepts qu’ils préfèrent, réellement, sur la base des thématiques qui leur tiennent le plus à coeur: savoir-faire, design intérieur, eco-responsabilité…
                        </p>
                        <!-- End Info -->
                    </div>
                </article>
                <!-- End Article -->

                <!-- Divider -->
                <div class="u-space-2 px-4">
                    <hr class="my-0">
                </div>
                <!-- End Divider -->

                <!-- Article -->
                <article>
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/900x450/img3.jpg'), :alt => "Image Description", :class => "img-fluid rounded" %>
                    <div class="u-space-1-top mt-2">
                        <!-- Info -->
                        <h2 class="h4">
                            Un nouveau mode d’acquisition de franchisés ou revendeurs
                        </h2>
                        <p class="mb-0 text-left mt-4">
                            Conceptstor permet aux entrepreneurs, candidats à la franchise, distributeurs et revendeurs, de découvrir les différents concepts commerciaux en un coup d’oeil et de façon inédite à travers un mur d’images comparatives et de prendre contact avec celles qu’ils préfèrent.
                        </p>
                        <!-- End Info -->
                    </div>
                </article>
                <!-- End Article -->

                <div class="u-space-2-bottom"></div>
            </div>
        </div>
    </div>
    <!-- End Articles Section -->
</main>
<!-- End Main -->

<!-- Footer -->
<footer class="u-bg-light-blue-50">
    <div class="container u-space-1-top u-space-0-bottom">
        <div class="row justify-content-md-between align-items-md-start">
            <div class="col-md-6 mb-md-0 text-center text-custom"> 
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="bishal" aria-label="Conceptstor">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/conceptstor-logo-bleu.svg'), :alt => "Image Description", :class => "w-80"%>
                </a>
                <!-- End Logo -->

                <span class="d-inline-block">
                    <h5 class="fs-1 mb-5 "> 
                        &copy; inSiti 2019 | 
                        <a class="fs-1 text-custom" href="http://www.insiti.co" target="_blank"> Groupe </a>
                    </h5>
                </span>       
            </div>

            <div class="col-md-6 mt-md-0 text-center  text-md-right">
                <!-- Social Networks -->
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://www.facebook.com/inSitiNews/" target="_blank">
                            <span class="fab fa-facebook-f u-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://www.linkedin.com/company/insiti/about/" target="_blank">
                            <span class="fab fa-linkedin u-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://twitter.com/insitinews" target="_blank">
                            <span class="fab fa-twitter u-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://instagram.com/insiti_news" target="_blank">
                            <span class="fab fa-instagram u-icon__inner"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
