<!-- Header -->
<header id="header" class="u-header u-header--bg-transparent u-header--abs-top u-header--white-nav-links-md mt-2" data-header-fix-moment="500" data-header-fix-effect="slide">
    <div class="u-header__section">
        <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand mr-7 " href="/landing/bishal" aria-label="d">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/logos/open.png'), :alt => "Logo", :class => "custom_logo" %>
                    <span><h3>OPPN </h3> </span>
                </a>
                <!-- End Logo -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>
<!-- End of Header -->


<!-- Hero Section -->
<div class="u-gradient-overlay-half-primary-video-v1 u-bg-img-hero" style="background-image: url(../../assets/img/1920x1080/img20.jpg);">
    <!-- Video Background -->
    <div class="js-bg-video d-none d-md-block position-absolute w-100 h-100" data-hs-bgv-type="youtube" data-hs-bgv-id="0qisGSwZym4" data-hs-bgv-loop="true">
        
       <!-- 
            <video autoplay loop id="video-background" muted plays-inline>
                <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
            </video>
        -->
    </div>
    <!-- End Video Background -->

    <div class="position-relative z-index-2">
        <!-- Content -->
        <div class="d-md-flex align-items-md-center min-height-100vh mb-5">
            <div class="container text-center u-space-3">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        

                        <!-- Info -->
                        <div class="mt-4 mb-7">
                            <h1 class="display-4 text-white font-weight-normal">Essayez avant de vous lancer !</h1>
                            <p class="lead text-white">Visitez et découvrez les concepts commerciaux avec des franchisés qui ont déjà franchi le pas</p>
                        </div>
                        <!-- End Info -->

                        <!-- Form -->
                        <form class="js-validate">
                            <div class="row mx-gutters-2">
                                <div class="col-sm-5 mx-auto mb-3">
                                    <!-- Input -->
                                    <div class="js-form-message">
                                        <div class="js-focus-state input-group u-form u-form--no-brd">
                                            <input type="text" class="form-control u-form__input" name="secteur" required placeholder="par secteur" aria-label="secteur" data-msg="Secteur must contain only letters.">
                                        </div>
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="col-sm-5 mx-auto mb-3">
                                    <!-- Input -->
                                    <div class="js-form-message">
                                        <div class="js-focus-state input-group u-form u-form--no-brd">
                                            <input type="text" class="form-control u-form__input" name="enseigne" required placeholder="par enseigne" aria-label="enseigne" data-msg="Enseigne must contain only letters.">
                                        </div>
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-block btn-success u-btn-success ">
                                        <span><i class="fa fa-search font-weight-bold"></i></span>
                                    </button>
                                    
                                </div>
                            </div>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content -->
    </div>
</div>
<!-- End Hero Section -->


<!-- Icon Blocks -->
<div class="row mx-auto mb-4 mt-6">
    <div class="col-md-6 mb-9 mb-md-0">
        <div class="pr-lg-3 text-center">
            <h4 class="h5">Une franchise en vue?</h4>
            <p class="col-md-6 mx-auto">Retrouvez des centaines de concepts à découvrir près de chez vous.</p>
            
            <%= image_tag asset_pack_path('init/bootstrap/theme/svg/flat-icons/analysis-flat-concept-illustration.svg'), :alt => "image", :class => "img-fluid col-md-6 rounded" %>

        </div>
    </div>
  
    <div class="col-md-6 mb-9 mb-md-0">
        <div class="pr-lg-3 text-center">
            <h4 class="h5">Testez-la!</h4>
            <p class="col-md-6 mx-auto">Passez sur un point de vente à la rencontre du franchisé. Il vous attend avec un café pour vous faire visiter.</p>
            <%= image_tag asset_pack_path('init/bootstrap/theme/svg/flat-icons/in-the-office-flat-concept-illustration.svg'), :alt => "image", :class => "img-fluid col-md-6 rounded" %>
        </div>
    </div>
</div>
<!-- End Icon Blocks -->

<!-- Features Section -->
<div class="w-65 mx-auto bg-soft mt-6 mb-6">
    <div class="container u-space-1">
        <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-5 order-lg-2 mb-9 mb-lg-0">
                <!-- Description -->
                <h4 class="text-center h5">Découvrez</h4>
                <p>Découvrez de nombreuses enseignes que vous pouvez visiter en traversant la rue !</p>
                <a class="btn u-btn-secondary--air u-btn-wide u-btn-pill transition-3d-hover" href="hire-us.html">Say something</a>
                <!-- End Description -->
            </div>

            <div class="col-lg-7 order-lg-1">    
                <!-- SVG Shape -->
                <figure class="w-75">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 204 124.5" style="enable-background:new 0 0 204 124.5;" xml:space="preserve">
                    <g id="XMLID_304_">
                        <g id="XMLID_61_">
                        <linearGradient id="landingJobID1" gradientUnits="userSpaceOnUse" x1="52.7334" y1="62.3719" x2="22.1468" y2="9.3944" gradientTransform="matrix(1.1458 -1.312510e-03 0.3345 1.1635 -10.8117 5.519748e-02)">
                            <stop class="u-stop-color-white" stop-opacity="0" offset="3.907739e-07"/>
                            <stop class="u-stop-color-primary-darker" offset="1"/>
                        </linearGradient>
                        <polygon fill="url(#landingJobID1)" opacity=".35" points="83.1,54.9 27.5,4.1 5,28.6 60.7,79.5"/>
                        <path id="XMLID_83_" class="u-fill-white u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" d="M10.9,1.9c5.1-2,11-1.3,15.6,2.3c6,4.7,7.8,12.8,4.7,19.4l5.7,8.8c0.1,0.2-0.1,0.5-0.3,0.4
                            l-9.9-3.5c-5.6,4.5-13.8,4.7-19.8,0.1C0.3,24.2-1.2,14.8,3.4,7.9"/>
                        <path id="XMLID_77_" class="u-fill-primary" d="M5.6,16.7c0,6.2,5,11.3,11.3,11.3c6.2,0,11.3-5,11.3-11.3S23,5.5,16.8,5.5
                            C10.6,5.5,5.6,10.5,5.6,16.7z"/>
                        <g id="XMLID_107_">
                            <g>
                            <path id="XMLID_30_" class="u-fill-white" d="M18.4,19.1h-2.7v-1.3c0-0.5,0.1-0.9,0.2-1.1c0.1-0.2,0.4-0.6,0.8-1l1.2-1.2
                                c0.2-0.2,0.3-0.5,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8c-0.2-0.2-0.4-0.3-0.7-0.3c-0.3,0-0.6,0.1-0.8,0.4c-0.2,0.3-0.3,0.6-0.4,1.1
                                h-2.8c0.1-1.2,0.6-2.1,1.3-2.8c0.7-0.7,1.7-1,2.8-1c1.1,0,2,0.3,2.7,0.9c0.7,0.6,1,1.4,1,2.5c0,0.5-0.1,0.8-0.2,1.1
                                c-0.1,0.2-0.2,0.4-0.2,0.5s-0.2,0.3-0.3,0.5c-0.2,0.2-0.3,0.3-0.3,0.4c-0.3,0.3-0.6,0.6-0.8,0.8c-0.3,0.2-0.4,0.5-0.5,0.6
                                c-0.1,0.2-0.1,0.4-0.1,0.7V19.1z M16,22.5c-0.3-0.3-0.5-0.7-0.5-1.1c0-0.4,0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.5,1.1-0.5
                                c0.4,0,0.8,0.2,1.1,0.5c0.3,0.3,0.5,0.7,0.5,1.1c0,0.4-0.2,0.8-0.5,1.1c-0.3,0.3-0.7,0.5-1.1,0.5C16.7,22.9,16.3,22.8,16,22.5z"
                                />
                            </g>
                        </g>
                        </g>



                        <path id="XMLID_2_" class="u-fill-primary" opacity=".3" d="M122.7,96.8V31.4h-3.5c-0.7,0-1.4,0.7-1.4,1.6v66.7h0.2h0.2h4.2C122.6,99.7,122.7,98.4,122.7,96.8z"/>
                        <linearGradient id="landingJobID2" gradientUnits="userSpaceOnUse" x1="152.9279" y1="114.3364" x2="153.1333" y2="52.6696" gradientTransform="matrix(0.8901 -0.4146 0.5277 1.1328 -19.471 47.0093)">
                        <stop class="u-stop-color-white" stop-opacity="0" offset="3.907739e-07"/>
                        <stop class="u-stop-color-primary-darker" offset="1"/>
                        </linearGradient>
                        <polygon fill="url(#landingJobID2)" opacity=".35" points="152.4,124.5 201.7,101.5 169.2,31.9 120,54.8"/>
                        <g id="XMLID_139_">
                        <g>
                            <path id="XMLID_233_" class="u-fill-white" d="M167.6,99.5h-47.7V33.2c0-1,0.8-1.8,1.8-1.8h45.9c1,0,1.8,0.8,1.8,1.8v64.5C169.4,98.7,168.6,99.5,167.6,99.5z"/>
                            <path id="XMLID_232_" class="u-fill-primary" d="M169.4,48.4h-49.5V33.2c0-1,0.8-1.8,1.8-1.8h46.7c0.5,0,1,0.4,1,1V48.4z"/>
                            <path id="XMLID_231_" class="u-fill-warning" d="M131.7,39.8c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9C130.4,36.9,131.7,38.2,131.7,39.8z"/>
                            <g id="XMLID_221_">
                            <path id="XMLID_222_" class="u-fill-warning" d="M128.6,95.3h-0.4v-2.7h0.4V95.3z M128.6,90h-0.4v-2.7h0.4V90z M128.6,84.7h-0.4V82h0.4
                                V84.7z M128.6,79.3h-0.4v-2.7h0.4V79.3z M128.6,74h-0.4v-2.7h0.4V74z M128.6,68.7h-0.4V66h0.4V68.7z M128.6,63.4h-0.4v-2.7h0.4
                                V63.4z M128.6,58h-0.4v-2.7h0.4V58z"/>
                            </g>
                            <path id="XMLID_220_" class="u-fill-warning" d="M130,88.5c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6C129.3,86.8,130,87.6,130,88.5z"/>
                            <line id="XMLID_218_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" x1="119.9" y1="48.4" x2="169.4" y2="48.4"/>
                            <path id="XMLID_217_" class="u-fill-warning" d="M130,72.6c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6C129.3,70.9,130,71.7,130,72.6z"/>
                            <path id="XMLID_216_" class="u-fill-warning" d="M130,56.7c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6C129.3,55,130,55.8,130,56.7z"/>
                            <line id="XMLID_215_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="56.7" x2="164" y2="56.7"/>
                            <line id="XMLID_214_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="71.4" x2="164" y2="71.4"/>
                            <line id="XMLID_213_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="74.2" x2="164" y2="74.2"/>
                            <line id="XMLID_212_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="77.1" x2="164" y2="77.1"/>
                            <line id="XMLID_211_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="86.8" x2="164.1" y2="86.8"/>
                            <line id="XMLID_210_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="89.5" x2="164" y2="89.5"/>
                            <line id="XMLID_209_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.1" y1="92.2" x2="154.4" y2="92.2"/>
                            <line id="XMLID_208_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="79.9" x2="144.6" y2="79.9"/>
                            <line id="XMLID_207_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="59.6" x2="164" y2="59.6"/>
                            <line id="XMLID_206_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="62.5" x2="164" y2="62.5"/>
                            <line id="XMLID_205_" class="u-fill-none u-stroke-danger" stroke-width="1.5" stroke-miterlimit="10" x1="133.2" y1="65.4" x2="144.6" y2="65.4"/>
                        </g>
                        </g>
                        <path id="XMLID_295_" class="u-fill-primary" opacity=".3" d="M144.6,46.8c-0.9-0.7-2-1.1-3.2-1.1H114v78.2h5.1h1.1V123h-4.7v-12.5H139v-0.8h4.5
                        c1.2,0,2.2-1,2.2-2.2v-7.9v-2V71.4h0.8V50.8c0-1.2-0.4-2.3-1.1-3.2C145.2,47.3,144.9,47,144.6,46.8z"/>
                        <g id="XMLID_18_">
                        <linearGradient id="landingJobID3" gradientUnits="userSpaceOnUse" x1="98.8467" y1="46.4828" x2="98.8467" y2="99.5843">
                            <stop class="u-stop-color-midnightblue" offset="0"/>
                            <stop class="u-stop-color-primary-darker" offset="1"/>
                        </linearGradient>
                        <path id="XMLID_701_" fill="url(#landingJobID3)" d="M143.5,99.6H54.2V48.7c0-1.2,1-2.2,2.2-2.2h84.9c1.2,0,2.2,1,2.2,2.2V99.6z"/>
                        <rect id="XMLID_697_" x="59.1" y="51.7" class="u-fill-white" width="79.7" height="41.9"/>
                        <rect id="XMLID_684_" x="85.4" y="107.6" class="u-fill-white" opacity=".5" width="26.9" height="15.9"/>
                        <rect id="XMLID_683_" x="85.4" y="107.6" class="u-fill-primary-lighter" opacity=".5" width="26.9" height="8"/>
                        <rect id="XMLID_682_" x="85.4" y="107.6" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" width="26.9" height="15.9"/>
                        <path id="XMLID_681_" class="u-fill-white" d="M143.5,97.6H54.2v9.8c0,1.2,1,2.2,2.2,2.2h84.8c1.2,0,2.2-1,2.2-2.2V97.6z"/>
                        <g>
                            <rect id="XMLID_47_" x="62.4" y="54.8" class="u-fill-success" width="36.5" height="35.4"/>
                            <line id="XMLID_159_" class="u-fill-none u-stroke-white" stroke-width="1.5" stroke-miterlimit="10" x1="65.1" y1="59.6" x2="79.4" y2="59.6"/>
                            <line id="XMLID_44_" class="u-fill-none u-stroke-white" stroke-width="1.5" stroke-miterlimit="10" x1="65.1" y1="65.9" x2="96.7" y2="65.9"/>
                            <line id="XMLID_3_" class="u-fill-none u-stroke-white" stroke-width="1.5" stroke-miterlimit="10" x1="65.1" y1="69.2" x2="96.7" y2="69.2"/>
                            <line id="XMLID_42_" class="u-fill-none u-stroke-white" stroke-width="1.5" stroke-miterlimit="10" x1="65.1" y1="72.4" x2="92.3" y2="72.4"/>
                            <line id="XMLID_41_" class="u-fill-none u-stroke-white" stroke-width="1.5" stroke-miterlimit="10" x1="65.1" y1="75.7" x2="92.3" y2="75.7"/>
                            <line id="XMLID_1_" class="u-fill-none u-stroke-white" stroke-width="1.5" stroke-miterlimit="10" x1="65.1" y1="78.9" x2="92.3" y2="78.9"/>
                            <line id="XMLID_167_" class="u-fill-none u-stroke-white" stroke-width="1.5" stroke-miterlimit="10" x1="65.1" y1="82.2" x2="84.3" y2="82.2"/>
                        </g>
                        </g>
                        <path id="XMLID_301_" class="u-fill-primary" opacity=".3" d="M60.8,81.6h-9v18.5v1.7v7.1c0,1.1,0.9,2,2,2h9.5v0.8h1.2V85.3C64.5,83.3,62.8,81.6,60.8,81.6z"/>
                        <g id="XMLID_19_">
                        <path id="XMLID_35_" class="u-fill-white" d="M28,124.3h33.7v-39c0-1.2-1-2.2-2.2-2.2H30.2c-1.2,0-2.2,1-2.2,2.2V124.3z"/>
                        <path id="XMLID_34_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" d="M35.2,83.1h-4.2c-1.6,0-2.9,1.3-2.9,2.9v33.8"/>
                        <line id="XMLID_33_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" x1="42.9" y1="83.1" x2="38" y2="83.1"/>
                        <path id="XMLID_340_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" d="M61.7,119.8V86c0-1.6-1.3-2.9-2.9-2.9H44.1"/>
                        <rect id="XMLID_339_" x="30.8" y="89.2" class="u-fill-primary" width="28.1" height="35"/>
                        <line id="XMLID_32_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" x1="41.3" y1="86.7" x2="48.4" y2="86.7"/>
                        <path id="XMLID_27_" class="u-fill-white" d="M63.6,124.3v-1.1c0-1.1-0.9-2-2-2l-3,0c-0.4-1.6-1-3.1-1.8-4.4l2.2-2.2c0.8-0.8,0.8-2,0-2.8
                            l-1.6-1.6c-0.8-0.8-2-0.8-2.8,0l-2.2,2.2c-1.3-0.8-2.8-1.5-4.4-1.8v-3c0-1.1-0.9-2-2-2h-2.3c-1.1,0-2,0.9-2,2v3
                            c-1.6,0.4-3,1-4.3,1.8l-2.1-2.2c-0.8-0.8-2-0.8-2.8,0l-1.6,1.6c-0.8,0.8-0.8,2,0,2.8l2.1,2.2c-0.8,1.3-1.5,2.8-1.8,4.4l-3,0
                            c-1.1,0-2,0.9-2,2l0,1.2h12.5c0-3.5,2.8-6.2,6.3-6.2c3.5,0,6.3,2.8,6.3,6.2H63.6z"/>
                        <path id="XMLID_20_" class="u-fill-none u-stroke-warning" stroke-width="1.5" stroke-miterlimit="10" d="M63.6,124.3v-1.1c0-1.1-0.9-2-2-2l-3,0c-0.4-1.6-1-3.1-1.8-4.4l2.2-2.2c0.8-0.8,0.8-2,0-2.8
                            l-1.6-1.6c-0.8-0.8-2-0.8-2.8,0l-2.2,2.2c-1.3-0.8-2.8-1.5-4.4-1.8v-3c0-1.1-0.9-2-2-2h-2.3c-1.1,0-2,0.9-2,2v3
                            c-1.6,0.4-3,1-4.3,1.8l-2.1-2.2c-0.8-0.8-2-0.8-2.8,0l-1.6,1.6c-0.8,0.8-0.8,2,0,2.8l2.1,2.2c-0.8,1.3-1.5,2.8-1.8,4.4l-3,0
                            c-1.1,0-2,0.9-2,2l0,1.2 M38.6,124.3c0-3.5,2.8-6.2,6.3-6.2c3.5,0,6.3,2.8,6.3,6.2"/>
                        </g>
                        <g id="XMLID_37_">
                        <line id="XMLID_767_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" x1="130.7" y1="103.4" x2="130.7" y2="108.6"/>
                        <path id="XMLID_764_" class="u-fill-white" d="M130.7,79c-6.9,0-12.5,5.6-12.5,12.5c0,6.9,5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5
                            C143.2,84.6,137.6,79,130.7,79z M130.7,101c-5.2,0-9.5-4.3-9.5-9.5c0-5.2,4.3-9.5,9.5-9.5c5.2,0,9.5,4.3,9.5,9.5
                            C140.2,96.8,135.9,101,130.7,101z"/>
                        <path id="XMLID_114_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" d="M137.7,81.2c-2-1.4-4.4-2.2-7-2.2c-6.9,0-12.5,5.6-12.5,12.5c0,6.9,5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5"/>
                        <path id="XMLID_113_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" d="M142.9,88.7c-0.5-2.2-1.6-4.2-3.1-5.8"/>
                        <path id="XMLID_762_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" d="M129.5,83.6c4.7,0,8.6,3.8,8.6,8.6"/>
                        <path id="XMLID_761_" class="u-fill-white" d="M128.2,107l0,15.1c0,0.8,0.6,1.4,1.4,1.4l2,0c0.8,0,1.4-0.6,1.4-1.4V107L128.2,107z"/>
                        <path id="XMLID_40_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" d="M128.2,107l0,15.1c0,0.8,0.6,1.4,1.4,1.4l2,0c0.8,0,1.4-0.6,1.4-1.4V107L128.2,107z"/>
                        <line id="XMLID_758_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" x1="128.1" y1="110.6" x2="133.3" y2="110.6"/>
                        <line id="XMLID_39_" class="u-fill-none u-stroke-primary" stroke-width="1.5" stroke-miterlimit="10" x1="128.1" y1="113.2" x2="133.3" y2="113.2"/>
                        </g>
                    </g>
                    </svg>
                </figure>
                <!-- End SVG Shape -->
            </div>
        </div>
    </div>
</div>
<!-- End Features Section -->


<div class="container u-space-3">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-7 mb-lg-0">
            <div class="pr-md-4">
                <!-- Title -->
                <div class="mb-7">
                    <h2 class="text-primary">Front in <span class="font-weight-bold">frames</span></h2>
                    <p>Enhance your brand with easy to use powerful customization features.</p>
                    <p>The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
                </div>
                <!-- End Title -->

                <a class="btn btn-sm btn-primary u-btn-primary u-btn-wide transition-3d-hover" href="#">Voir toutes les enseignes <span class="fa fa-angle-right ml-2"></span></a>
            </div>
        </div>

        <div class="col-lg-6 position-relative">
            <!-- Image Gallery -->
            <div class="row mx-gutters-2">
                <div class="col-5 align-self-end px-2 mb-3">
                    <!-- Fancybox -->
                    <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="../../assets/img/1920x1080/img2.jpg" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #01" data-speed="700">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/320x320/img1.jpg'), :alt => "image", :class => "img-fluid rounded" %>

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                                <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                    </a>
                    <!-- End Fancybox -->
                </div>

                <div class="col-7 px-2 mb-3">
                    <!-- Fancybox -->
                    <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="../../assets/img/1920x1080/img4.jpg" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #02" data-speed="700">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/450x450/img1.jpg'), :alt => "image", :class => "img-fluid rounded" %>

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                                <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                    </a>
                    <!-- End Fancybox -->
                </div>

                <div class="col-5 offset-1 px-2 mb-3">
                    <!-- Fancybox -->
                    <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="../../assets/img/1920x1920/img1.jpg" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #03" data-speed="700">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/280x310/img1.jpg'), :alt => "image", :class => "img-fluid rounded" %>

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                                <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                    </a>
                    <!-- End Fancybox -->
                </div>

                <div class="col-5 px-2 mb-3">
                    <!-- Fancybox -->
                    <a class="js-fancybox u-media-viewer" href="javascript:;" data-src="../../assets/img/1920x1080/img3.jpg" data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #04" data-speed="700">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/300x180/img1.jpg'), :alt => "image", :class => "img-fluid rounded" %>

                        <span class="u-media-viewer__container">
                            <span class="u-media-viewer__icon">
                                <span class="fa fa-plus u-media-viewer__icon-inner"></span>
                            </span>
                        </span>
                    </a>
                    <!-- End Fancybox -->
                </div>
            </div>
            <!-- End Image Gallery -->

            <!-- SVG Background Shape -->
            <figure class="w-100 u-content-centered-y z-index-minus-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1109.8 797.1" style="enable-background:new 0 0 1109.8 797.1;" xml:space="preserve">
                    <path class="u-fill-primary" opacity=".05" d="M105.1,267.1C35.5,331.5-3.5,423,0.3,517.7c5.8,145.3,110.7,314.2,588,273.1c753-64.7,481.3-358.3,440.4-398.3
                        c-4-3.9-7.9-7.9-11.7-12L761.9,104.8C639.4-27.6,432.5-35.6,299.9,87L105.1,267.1z"></path>
                </svg>
            </figure>
            <!-- End SVG Background Shape -->
        </div>
    </div>
</div>

<!-- ========== FOOTER ========== -->
<footer class="position-relative u-gradient-half-primary-v5">
  <div class="container u-space-4-top u-space-2-bottom">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-auto mb-5">
      <h2 class="text-white">Ready to <strong class="font-weight-bold">get started?</strong></h2>
      <p class="u-text-light mb-0">Want to see Front in action? Get started with Front for instant experience:</p>
    </div>
    <!-- End Title -->

    <!-- Form -->
    <form class="js-validate w-lg-80 mx-lg-auto">
      <div class="row mx-gutters-2">
        <div class="col-sm-5 mb-3 mb-sm-0">
          <!-- Input -->
          <div class="js-form-message">
            <div class="js-focus-state input-group u-form u-form--no-brd">
              <input type="text" class="form-control u-form__input" name="footer-sectuer" required
                     placeholder="Par secteur"
                     aria-label="footer-sectuer"
                     data-msg="Secteur must contain only letters.">
            </div>
          </div>
          <!-- End Input -->
        </div>

        <div class="col-sm-5 mb-3 mb-sm-0">
          <!-- Input -->
          <div class="js-form-message">
            <div class="js-focus-state input-group u-form u-form--no-brd">
              <input type="email" class="form-control u-form__input" name="footer-enseigne" required
                     placeholder="Par enseigne"
                     aria-label="footer-enseigne"
                     data-msg="Enseigne must contain only letters.">
            </div>
          </div>
          <!-- End Input -->
        </div>

        <div class="col-sm-2">
          <button type="submit" class="btn btn-block btn-success u-btn-success ">
            <span><i class="fa fa-search font-weight-bold"></i></span>
        </button>
        </div>
      </div>
    </form>
    <!-- End Form -->

    <hr class="opacity-0_2 my-7">

    <!-- SVG Background -->
    <figure class="position-absolute-top-0">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="100%" height="140px" viewBox="0 0 1920 140" style="margin-top: -2px; enable-background:new 0 0 1920 140;" xml:space="preserve">
        <path class="u-fill-primary" opacity="0.3" d="M1607,81.8c0,0-274.6,48.2-560.1,19.9c-494.8-49.2-725.1,2.7-938.5,6.6C-203,114-339.2,85.6-339.2,85.6V9.4l1946.2,0V81.8z"/>
        <path class="u-fill-primary" opacity="0.3" d="M2033.1,80.8c0,0-274.6,48.2-560.1,19.9c-494.8-49.2-725.1,2.7-938.5,6.6C223.1,113,86.9,84.6,86.9,84.6V8.5h1946.2V80.8z"/>
        <path class="u-fill-white" opacity="0" d="M1526.9,5.6c0,0-309,96.5-698.5,96.5C406.8,102.1,201.4,7,201.4,7V1.8l1332,0L1526.9,5.6z"/>
        <path class="u-fill-white" d="M2026.7,55.1c0,0-358.4,63.9-770,39c-523.7-31.8-712.6-8.6-938.5,6.6C-21.5,123.7-347.7,49-347.7,49l-8.5-51.3l2380.8,4.1L2026.7,55.1z"/>
      </svg>
    </figure>
    <!-- End SVG Background Section -->
  </div>
</footer>
<!-- ========== END FOOTER ========== -->






