<!-- Header Section -->
<header>
    <div class="position-relative overflow-hidden">
        <div class="bg-img"></div>
        <div class="overlay"></div>
        <div id="logoAndNav" class="container mw-95 position-absolute mx-auto custom-position">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal mt-3 mb-6">
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="bishal" aria-label="Front">
                    <span class="logo-font">Conceptstor</span>
                </a>
                <!-- End Logo -->

                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span id="hamburgerTrigger" class="u-hamburger__box">
                    <span class="u-hamburger__inner"></span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse py-0">
                    <ul class="navbar-nav u-header__navbar-nav ml-auto">
                        <!-- Home -->
                        <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                            <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0 text-white" href="bishal3" aria-haspopup="true" aria-expanded="false">
                                A Propos     
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- Home -->
                        <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                            <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0 text-white" href="http://www.insiti.co" target="_blank" aria-haspopup="true" aria-expanded="false">
                                Groupe      
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- Button -->
                        <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                            <a class="btn btn-custom btn-sm text-custom" href="#">
                                Me connecter
                            </a>
                        </li>
                        <!-- End Button -->
                    </ul>
                </div>
                <!-- End Navigation -->
            </nav>
            <!-- End Nav --> 

            <!-- Hero Section -->
            <div class="container mt-lg-5 mt-md-5 ">
                <div class="w-lg-60 mb-5 mx-auto text-center">
                    <h2 class="display-5 text-white font-weight-bold s-heading">Comparez toutes les franchises en quelques (milliers d’) images</h2>
                    <p class="lead text-white">et contactez les meilleures.</p>
                </div>

                <!-- Choose section -->
                <form class="js-validate">
                    <div class="row w-lg-70 mx-auto">
                        <!-- Input -->
                        <div class="col-lg-5 col-sm-8 mx-auto mb-2">
                            <div class="js-form-message">
                                <select class="custom-select mb-2">
                                    <option value="SecteurSelect1" disabled selected>Choisissez un secteur</option>
                                    <option value="SecteurSelect2">Tous les secteurs</option>
                                    <option value="SecteurSelect3">Alimentation</option>
                                    <option value="SecteurSelect4">Auto-Motos-Cycles</option>
                                    <option value="SecteurSelect5">Beauté - Santé</option>
                                    <option value="SecteurSelect6">Equipement de ma maison</option>
                                    <option value="SecteurSelect7">Hotellerie - Restautation</option>
                                    <option value="SecteurSelect8">Loisirs</option>
                                    <option value="SecteurSelect9">Services aux entreprises</option>
                                    <option value="SecteurSelect10">Services aux particuliers</option>
                                    <option value="SecteurSelect11">Textile & accessories</option>
                                    <option value="SecteurSelect12">Travaux & Habitat</option>
                                </select>
                            </div>
                        </div>
                        <!-- End Input -->
                    

                        <!-- Input -->
                        <div class="col-lg-5 col-sm-8 mx-auto mb-2">
                            <div class="js-form-message">
                                <select class="custom-select mb-2">
                                    <option id="choose" value="ThemeSelect1" disabled selected>Choisissez un thème</option>
                                    <option id="choose" value="ThemeSelect2">People</option>
                                    <option class="" value="ThemeSelect3">Savoir-faire</option>
                                    <option class="" value="ThemeSelect3">Produit</option>
                                    <option class="" value="ThemeSelect3">Design</option>
                                    <option class="" value="ThemeSelect3">Vitrine</option>
                                    <option class="" value="ThemeSelect3">Eco-responsabilité</option>
                                    <option class="" value="ThemeSelect3">Animation</option>
                                    <option class="" value="ThemeSelect3">Originalité</option>
                                    <option class="" value="ThemeSelect3">Communication</option>
                                    <option class="" value="ThemeSelect3">Digital</option>
                                </select>
                            </div>
                        </div>
                        <!-- End Input -->

                        <div class="col-lg-2 col-sm-8 mx-auto mb-2">
                            <button type="submit" class="btn btn-block btn-custom u-btn-primary text-custom">Valider</button>
                        </div>

                    </div>
                </form>
                <!-- End Choose section -->
            </div>
            <!-- End Hero Section -->
        </div>
        <!-- SVG Background -->
        <figure class="position-absolute-bottom-0 no-display">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
                <path class="u-fill-primary" opacity=".075" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
                    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
                <path class="u-fill-primary" opacity=".075" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
                    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
                <path class="u-fill-primary" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
                    H42.401L43.415,98.342z"></path>
                <path class="fill-light-blue-50" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
                    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
            </svg>
        </figure>
        <!-- End SVG Background Section -->
    </div>
</header>
<!-- End Header -->

<!-- Main Section -->
<main id="content" role="main">
    <!-- Masonry Section -->
    <div class="container-fluid u-cubeportfolio py-3 u-bg-light-blue-50">
        <div class="masonry-container">
            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover">
                    <!-- Image -->
                    <a href= "bishal2" class="item-img mb-4">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img1.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                    </a>
                    <!-- End Image -->
                    <div class="px-2">
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img1.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-custom">Nom du secteur</h3>
                        <p class="text-justify mt-1">New snowfall throughout the season is displayed with 24 hour and 72-hour snow totals, providing a snapshot of mountain conditions.</p>
                    </div>
                </article>
            </div>
            <!-- End content -->

            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover">
                    <!-- Image -->
                    <a href= "bishal2" class="item-img mb-4">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x900/img1.jpg'), :alt => "Image", :class => "img-fluid item-img item-img rounded"%>
                    </a>
                    <!-- End Image -->
                    <div class="px-2">
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img4.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-custom">Nom du secteur</h3>
                        <p class="text-justify mt-1">
                            At Wake, our mission has always been focused on bringing openness.
                            At Wake, our mission has always been focused on bringing openness.
                            At Wake, our mission has always been focused on bringing openness.
                        </p>
                    </div>
                </article>
                
            </div>
            <!-- End content -->

            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover">
                    <!-- Image -->
                    <a href= "bishal2" class="item-img mb-4">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img3.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                    </a>
                    <!-- End Image -->
                    <div class="px-2">
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img2.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-custom">Nom du secteur</h3>
                        <p class="text-justify mt-1">
                            A healthy diet at any age is high in plant foods such as fruit and vegetables. A healthy diet at any age is high in plant foods such as fruit and vegetables.
                            A healthy diet at any age is high in plant foods such as fruit and vegetables. A healthy diet at any age is high in plant foods such as fruit and vegetables.
                        </p>
                    </div>
                </article>
                
            </div>
            <!-- End content -->

            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover">
                    <!-- Image -->
                    <a href= "bishal2" class="item-img mb-4">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img4.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                    </a>
                    <!-- End Image -->
                    <div class="px-2"> 
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img3.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-custom">Nom du secteur</h3>
                        <p class="text-justify mt-1">
                            The whispers, asides and shouts as heard in New York.
                            The whispers, asides and shouts as heard in New York.
                            The whispers, asides and shouts as heard in New York.
                        </p>
                    </div>
                </article>
                
            </div>
            <!-- End content -->

            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover blog_card-bg--img3 pl-3 rounded u-blog-overlay-v1">
                    <header>
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img3.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-white">Nom du secteur</h3>
                    </header>

                    <footer class="mt-auto">
                        <p class="text-justify text-white blog-content w-85 lh-1">They lived in a smart suburban home, owned nice cars and posed together on family holidays.</p>
                    </footer>
                    
                </article>
            </div>
            <!-- End content -->

            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover">
                    <!-- Image -->
                    <a href= "bishal2" class="item-img mb-4">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img6.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                    </a>
                    <!-- End Image -->
                    <div class="px-2"> 
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img6.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-custom">Nom du secteur</h3>
                        <p class="text-justify mt-1">Like many of you, on many of these cold winter days I like nothing more than to sit indoors, under a blanket.</p>
                    </div>
                </article>
            </div>
            <!-- End content -->

            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover">
                    <!-- Image -->
                    <a href= "bishal2" class="item-img mb-4">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img10.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                    </a>
                    <!-- End Image -->
                    <div class="px-2">
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img9.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-custom">Nom du secteur</h3>
                        <p class="text-justify mt-1">
                            Like many of you, on many of these cold winter days I like nothing more than to sit indoors, under a blanket.
                            Like many of you, on many of these cold winter days I like nothing more than to sit indoors, under a blanket.
                            Like many of you, on many of these cold winter days I like nothing more than to sit indoors, under a blanket.    
                        </p>
                    </div>
                </article>
            </div>
            <!-- End content -->

            <!-- content -->
            <div class="masonry-box">
                <article class="transition-3d-hover">
                    <!-- Image -->
                    <a href= "bishal2" class="item-img mb-4">
                        <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img9.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                    </a>
                    <!-- End Image -->
                    <div class="px-2">
                        <span>
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/100x100/img1.jpg'), :alt => "Image", :class => "profile-img" %>
                        </span>
                        <h3 class="h6 masonry-title text-custom">Nom du secteur</h3>
                        <p class="text-justify mt-1">New snowfall throughout the season is displayed with 24 hour and 72-hour snow totals, providing a snapshot of mountain conditions.</p>
                    </div>
                </article>
            </div>
            <!-- End content -->

        </div>

        <!-- Load More Button -->
        <div id="cubeLoadMore" class="text-center mt-4">
            <a href="../../assets/include/ajax/home-blog-business-1/load-more.html" class="cbp-l-loadMore-link u-link f-color" rel="nofollow">
                <span class="cbp-l-loadMore-defaultText text-secondary">
                    Voir plus
                    <span class="u-link__icon ml-1 bg-secondary">
                        <span class="u-link__icon-inner">+</span>
                    </span>
                </span>
                <span class="cbp-l-loadMore-loadingText">Loading...</span>
                <span class="cbp-l-loadMore-noMoreLoading">No more works</span>
            </a>
        </div>
        <!-- End Load More Button -->
    </div>
    <!-- End masonry section -->

  </main>
<!-- End Main Section -->






