<!-- Header -->
<header class="position-relative u-bg-light-blue-50 overflow-hidden">
    <div id="logoAndNav" class="container mw-95">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
            
            <!-- Logo -->
            <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="bishal" aria-label="Conceptstor">
                <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/conceptstor-logo-bleu.svg'), :alt => "Image Description", :class => "w-80"%>
            </a>
            <!-- End Logo -->

            <!-- Responsive Toggle Button -->
            <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                <span id="hamburgerTrigger" class="u-hamburger__box">
                <span class="u-hamburger__inner"></span>
                </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Navigation -->
            <div id="navBar" class="collapse navbar-collapse py-0">
                <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
                    <!-- Home -->
                    <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                        <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0 text-link" href="bishal3" aria-haspopup="true" aria-expanded="false">
                            A Propos     
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- Home -->
                    <li class="nav-item hs-has-mega-menu u-header__nav-item hs-mega-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                        <a id="homeMegaMenu" class="nav-link text-link u-header__nav-link pl-0 " href="http://www.insiti.co" target="_blank" aria-haspopup="true" aria-expanded="false">
                            Groupe      
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- Button -->
                    <li class="nav-item d-md-inline-block pr-0">
                        <a class="btn btn-custom-secondary btn-sm" href="#connectionModal" data-toggle="modal" data-target="#exampleModal">
                            Me connecter
                        </a>
                    </li>
                    <!-- End Button -->
                </ul>
            </div>
            <!-- End Navigation -->
        </nav>
        <!-- End Nav -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right m-3 mr-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <div class="d-block text-center p-2 text-custom">
                        <h3 class="modal-title mx-auto" id="exampleModalLabel">Connectez-vous avec</h3>
                        <h3 class="modal-title mx-auto" id="exampleModalLabel">votre compte <span class="font-weight-bold">inSiti </span> </h3>
                    </div>

                    <div class="mx-auto mb-2 w-80 text-center">
                        <a class="btn btn-connection w-80 text-white mt-3" href="https://insiti.com/login">Connexion</a>
                    </div>

                    <div class="text-center mt-1 mb-3">
                        <span class="small text-muted">Pas encore inscrit?</span>
                        <a class="text-link small" href="https://insiti.com/compte">Crée mon compte</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->



    </div>
</header>
<!-- End Header -->


<main id="content" role="main">  
    <div class="container u-space-2-top u-space-2-bottom">
        <div class="row">
            <div class="col-lg-6 mb-7 mb-lg-0">
                <%= image_tag asset_pack_path('init/bootstrap/theme/img/600x600/img1.jpg'), :alt => "Image", :class=> "rounded w-100 h-auto p-3"%>
            </div>
            <div class="col-lg-6">
                <!-- Sticky Block -->
                    <div class="js-sticky-block pl-lg-4 position-relative">
                        <div class="mb-6 p-3">
                            <h1 class="h4 text-custom font-weight-bold">Titre de l’image</h1>
                            <p class="mb-0 text-left">Displaying this large amount of content in a smooth and seamless way was quite a challenge. By loading assets in the background, playing and stopping audio on the fly, parallaxing hotspots, and use of large images we succeeded in giving the user a smooth experience.</p>
                        </div>
                        <hr class="my-5">

                        <!-- List -->
                        <ul class="list-unstyled p-3 mb-0">
                            <li class="media mb-1">
                                <div class="d-flex w-100">
                                    <a href="#"class="h6 text-link font-weight-bold">Voir la page enseigne</a>
                                </div>
                            </li>

                            <li class="media mb-1">
                                <div class="d-flex w-100">
                                    <a href="#connectionModal" class="h6 text-link font-weight-bold" data-toggle="modal" data-target="#exampleModal">Contacter l’enseigne</a>
                                </div>
                            </li>

                            <li class="media mb-1">
                                <div class="d-flex w-100">
                                    <a href="#" class="h6 text-link font-weight-bold">Comparer les chiffres-clé</a>
                                </div>
                            </li>
                        </ul>
                        <!-- End List -->

                        <hr class="my-5">

                        <div class="media p-3">
                            <div class="d-flex w-40 w-sm-30">
                                <h4 class="h6 text-custom font-weight-bold">Partager</h4>
                            </div>
                            <div class="media-body">
                                <!-- Social Networks -->
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a class="u-bg-transparent u-icon u-icon--sm u-icon-secondary--air" href="#">
                                        <span class="fab fa-facebook-f u-icon__inner"></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="u-bg-transparent u-icon u-icon--sm u-icon-secondary--air" href="#">
                                        <span class="fab fa-instagram u-icon__inner"></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="u-bg-transparent u-icon u-icon--sm u-icon-secondary--air" href="#">
                                        <span class="fab fa-twitter u-icon__inner"></span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Social Networks -->
                            </div>
                        </div>
                    </div>
                    <!-- End Sticky Block -->
            </div>
        </div>
    
         <!-- Masonry Section -->
        <div class="u-cubeportfolio py-3 u-bg-light-blue-50 mt-6">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-auto mb-5 mt-6">
                <h2 class="text-custom">Voir aussi sur le même <strong class="font-weight-bold">thème</strong></h2>
            </div>
            <!-- End Title -->

            <div class="masonry-container">
                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img1.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->

                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img2.jpg'), :alt => "Image", :class => "img-fluid item-img item-img rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                    
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img3.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                    
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img4.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                    
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img5.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img6.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img7.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img8.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->
            </div>

            <!-- Load More Button -->
            <div id="cubeLoadMore" class="text-center mt-6 mb-6">
                <a href="../../assets/include/ajax/home-blog-business-1/load-more.html" class="cbp-l-loadMore-link u-link f-color" rel="nofollow">
                    <span class="cbp-l-loadMore-defaultText text-secondary">
                        Voir plus
                        <span class="u-link__icon ml-1 bg-secondary">
                            <span class="u-link__icon-inner">+</span>
                        </span>
                    </span>
                    <span class="cbp-l-loadMore-loadingText">Loading...</span>
                    <span class="cbp-l-loadMore-noMoreLoading">No more works</span>
                </a>
            </div>
            <!-- End Load More Button -->
        </div>
        <!-- End masonry section -->

        <!-- Masonry Section -->
        <div class="u-cubeportfolio py-3 u-bg-light-blue-50 mt-6">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-auto mb-5 mt-6">
                <h2 class="text-custom">Voir aussi sur le même <strong class="font-weight-bold">secteur</strong></h2>
            </div>
            <!-- End Title -->

            <div class="masonry-container">
                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img1.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->

                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img2.jpg'), :alt => "Image", :class => "img-fluid item-img item-img rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                    
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img3.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                    
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img4.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                    
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img5.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img6.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img7.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->

                <!-- content -->
                <div class="masonry-box">
                    <article class="transition-3d-hover">
                        <!-- Image -->
                        <a href= "bishal2" class="item-img mb-4">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/380x360/img8.jpg'), :alt => "Image", :class => "img-fluid rounded"%>
                        </a>
                        <!-- End Image -->
                        <div class="px-2">
                            <h3 class="h6 masonry-title text-custom">Nom du brand</h3>
                        </div>
                    </article>
                </div>
                <!-- End content -->
            </div>   

            <!-- Load More Button -->
            <div id="cubeLoadMore" class="text-center mt-6 mb-6">
                <a href="../../assets/include/ajax/home-blog-business-1/load-more.html" class="cbp-l-loadMore-link u-link f-color" rel="nofollow">
                    <span class="cbp-l-loadMore-defaultText text-secondary">
                        Voir plus
                        <span class="u-link__icon ml-1 bg-secondary">
                            <span class="u-link__icon-inner">+</span>
                        </span>
                    </span>
                    <span class="cbp-l-loadMore-loadingText">Loading...</span>
                    <span class="cbp-l-loadMore-noMoreLoading">No more works</span>
                </a>
            </div>
            <!-- End Load More Button -->
        </div>
        <!-- End masonry section -->
    </div>
</main>

<!-- Footer -->
<footer class="u-bg-light-blue-50">
    <div class="container u-space-1-top u-space-0-bottom">
        <div class="row justify-content-md-between align-items-md-start">
            <div class="col-md-6 mb-md-0 text-center text-custom"> 
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="bishal" aria-label="Conceptstor">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/svg/logos/conceptstor-logo-bleu.svg'), :alt => "Image Description", :class => "w-80"%>
                </a>
                <!-- End Logo -->

                <span class="d-inline-block">
                    <h5 class="fs-1 mb-5 "> 
                        &copy; inSiti 2019 | 
                        <a class="fs-1 text-custom" href="http://www.insiti.co" target="_blank"> Groupe </a>
                    </h5>
                </span>       
            </div>

            <div class="col-md-6 mt-md-0 text-center  text-md-right">
                <!-- Social Networks -->
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://www.facebook.com/inSitiNews/" target="_blank">
                            <span class="fab fa-facebook-f u-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://www.linkedin.com/company/insiti/about/" target="_blank">
                            <span class="fab fa-linkedin u-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://twitter.com/insitinews" target="_blank">
                            <span class="fab fa-twitter u-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-bg-transparent u-icon u-icon-light--air text-custom" href="https://instagram.com/insiti_news" target="_blank">
                            <span class="fab fa-instagram u-icon__inner"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

