<header>    
    <div class="site-header">
        <div class="nav-bar nav-blog">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h2 class="site-title blog-title"><a href="index" rel="home" >inSiti<span> Masterclass</span></a></h2>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-3 col-lg-9 d-flex justify-content-end align-content-center">
                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <div class="read-more">
                                <a href="#" data-toggle="modal" data-target="#modalinSiti">INSCRIPTION</a>
                            </div>
                        </nav><!-- .site-navigation -->

                        <!-- Modal -->
                        <div class="modal fade modal-dialog-bg" id="modalinSiti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close text-right m-3 mr-2" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>

                                    <div class="d-block text-center p-2">
                                        <h4 class="modal-title mx-auto modal-title-text" id="exampleModalLabel">
                                            Inscrivez-vous à notre Masterclass à <br/>partir de votre compte 
                                            <span class="font-weight-bold">inSiti </span> 
                                        </h4>
                                    </div>

                                    <div class="mx-auto mb-2 w-80 text-center">
                                        <a class="btn btn-connection text-connection w-80 mt-3" href="https://insiti.com/login" target="_blank">Connexion</a>
                                    </div>

                                    <div class="text-center mt-1 mb-7">
                                        <span class="small text-muted">Pas encore inscrit?</span>
                                        <a class="small" href="https://insiti.com/compte" target="_blank">M'inscrive gratuitement</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </div>

    
</header>

<!-- Blog Classic Section -->
<section class="container u-space-3 space-top-md-5 space-top-lg-4">
    <!-- Title -->
    <div class="w-md-100 w-lg-100 mb-9">
        <h2 class="font-weight-normal">Conseils et infos pour <span class="font-weight-semi-bold">ouvrir une franchise</span></h2>
    </div>
    <!-- End Title -->

    <!-- News Classic -->
    <div class="card-deck d-flex d-sm-flex d-md-flex card-sm-gutters-3 mb-sm-7">
        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img12.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">March 20, 2018</small>
                <h2 class="h5">
                    <a href="blogPage">Remote workers, here's how to dodge distractions</a>
                </h2>
                <p>We've been working hard with our besties at Reuters to design a new reading experience for Reuters.com.</p>
            </div>
        </article>
        <!-- End News Classic -->

        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img23.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">April 29, 2018</small>
                <h3 class="h5">
                    <a href="single-article-classic.html">5 basic tips for colors</a>
                </h3>
                <p>Tis the season to be jolly, and Ueno has one more thing to be cheery about in 2017.</p>
            </div>
        </article>
        <!-- End News Classic -->
    </div>

    <div class="card-deck d-block d-sm-flex card-sm-gutters-3 mb-sm-7">
        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img16.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">March 20, 2018</small>
                <h3 class="h5">
                    <a href="single-article-classic.html">How to change careers or start a home-based business?</a>
                </h3>
                <p>The biggest collections of design principles on the internet</p>
            </div>
        </article>
        <!-- End News Classic -->

        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img21.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">April 1, 2018</small>
                <h3 class="h5">
                    <a href="single-article-classic.html">Create your adventure</a>
                </h3>
                <p>Everyone's are different, and they can even change</p>
            </div>
        </article>
        <!-- End News Classic -->
    </div>

    <div class="card-deck d-block d-sm-flex card-sm-gutters-3 mb-sm-7">
        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img10.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">March 18, 2018</small>
                <h3 class="h5">
                    <a href="single-article-classic.html">Announcing a free plan for small teams</a>
                </h3>
                <p>The past years have been remarkable for web technologies.</p>
            </div>
        </article>
        <!-- End News Classic -->

        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img17.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">March 18, 2018</small>
                <h3 class="h5">
                    <a href="single-article-classic.html">How to make trust your competitive advantage</a>
                </h3>
                <p>Tips and tricks that most people wouldn't highlight when illustrating.</p>
            </div>
        </article>
        <!-- End News Classic -->
    </div>

    <div class="card-deck d-block d-sm-flex card-sm-gutters-3 mb-sm-7">
        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img18.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">April 29, 2018</small>
                <h3 class="h5">
                    <a href="single-article-classic.html">Classic design principles</a>
                </h3>
                <p>Sailing here was a surreal experience. The light fog snaked its way through the valley, but still let the sun warm our backs.</p>
            </div>
        </article>
        <!-- End News Classic -->

        <!-- News Classic -->
        <article class="card border-0">
            <div class="card-body p-0">
                <div class="mb-5">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/500x280/img19.jpg'), :alt => "Image", :class=>"img-fluid w-100 rounded" %>
                </div>
                <small class="d-block text-secondary mb-1">April 1, 2018</small>
                <h3 class="h5">
                    <a href="single-article-classic.html">InVision design forward fund</a>
                </h3>
                <p>Fewer bumps in the road: ClearMotion is a new technology that does to your ride what noise cancelling does to your headphones.</p>
            </div>
        </article>
        <!-- End News Classic -->
    </div>

</section>
<!-- Blog Classic Section -->

<footer>
    <div class="footer-bar">
        <div class="container-fluid">
            <div class="row pl-7 pr-7 flex-wrap justify-content-center justify-content-lg-between align-items-center">
                <div class="col-12 col-lg-6 col-md-12 text-center text-lg-left">
                    <p class="footer-copyright">
                        Copyright © <a href="https://insiti.com/" target="_blank">inSiti </a> | 
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://www.insiti.co/" target="_blank"> inSiti Groupe</a>
                    </p>
                </div>

                 <div class="col-12 col-lg-6 col-md-12 mt-md-0 text-center text-lg-right">
                    <!-- Social Networks -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.facebook.com/inSitiNews/" target="_blank">
                                <span class="fab fa-facebook-f u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.linkedin.com/company/insiti/about/" target="_blank">
                                <span class="fab fa-linkedin u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://twitter.com/insitinews" target="_blank">
                                <span class="fab fa-twitter u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://instagram.com/insiti_news" target="_blank">
                                <span class="fab fa-instagram u-icon__inner"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Social Networks -->
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer>
