<!-- Header Section -->
<header class="bg-img">    
    <div class="site-header position-fixed">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h2 class="site-title"><a href="index" rel="home">inSiti<span> Masterclass</span></a></h2>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-3 col-lg-9 d-flex justify-content-end align-content-center">
                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <a href="landing/blog" target="#">Blog</a>
                            <div class="read-more">
                                <a href="#" data-toggle="modal" data-target="#modalinSiti">INSCRIPTION</a>
                            </div>
                        </nav><!-- .site-navigation -->

                        <!-- Modal -->
                        <div class="modal fade modal-dialog-bg" id="modalinSiti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close text-right m-3 mr-2" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>

                                    <div class="d-block text-center p-2">
                                        <h4 class="modal-title mx-auto modal-title-text" id="exampleModalLabel">
                                            Inscrivez-vous à notre Masterclass à <br/>partir de votre compte 
                                            <span class="font-weight-bold">inSiti </span> 
                                        </h4>
                                    </div>

                                    <div class="mx-auto mb-2 w-80 text-center">
                                        <a class="btn btn-connection text-connection w-80 mt-3" href="https://insiti.com/login/masterclass" target="_blank">Connexion</a>
                                    </div>

                                    <div class="text-center mt-1 mb-7">
                                        <span class="small text-muted">Pas encore inscrit?</span>
                                        <a class="small" href="https://wwww.insiti.com/compte/masterclass" target="_blank">M'inscrive gratuitement</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </div>

    <div class="hero-content-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-content-wrap d-flex flex-column justify-content-center align-items-start">
                        <header class="entry-header">
                            <h1>La formation pour <strong>ouvrir une franchise </strong></h1>
                            <h4 class="mt-5">
                                ACCOMPAGNEMENT D’UNE JOURNEE POUR<br>
                                ACCELERER VOTRE PROJET
                                D’OUVERTURE DE COMMERCE
                            </h4>
                        </header><!-- .entry-header -->

                        <div class="entry-content">
                            <p>
                                Venez participer à l’une de nos journées de formation pour affiner votre projet de création de commerce, 
                                en franchise ou en indépendant, et trouver les bons interlocuteurs.
                            </p>
                        </div><!-- .entry-content -->

                        <footer class="entry-footer read-more">
                            <a href="#" data-toggle="modal" data-target="#modalinSiti">Inscription</a>
                        </footer><!-- .entry-footer -->
                    </div><!-- .hero-content-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
</header>

<section class="icon-boxes">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-stretch">
            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-user"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Un masterclass d’une journée</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Une journée bien remplie, accessible à tout porteur de projet de la région parisienne ou d’ailleurs</p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-folder"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Des ateliers pratiques</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>
                        Une journée divisée en ateliers pratiques, appliqués au projet de 
                        chaque participant pour préparer les éléments essentiels de son dossier
                    </p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-book-open"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Des intervenants extérieurs</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Des ateliers encadrés et animés par des acteurs professionnels, franchiseurs, banques, pour avancer concrètement.</p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-globe"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Vous pouvez vous lancer</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>
                        Le but de la journée est simple, permettre aux participants de venir avec des idées et 
                        de repartir avec un ou plusieurs projets précis et les contacts nécessaires pour avancer 
                    </p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section>

<section class="featured-courses horizontal-column courses-wrap">
    <div class="container-fluid">
        <div class="row pl-7 pr-7">
            <div class="col-12">
                <header class="heading d-flex justify-content-between align-items-center">
                    <h2 class="entry-title">Nos ateliers pratiques</h2>
                </header><!-- .heading -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex flex-wrap h-80 justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc1.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title mb-3">
                                Choisir sa franchise / Etablir le contact avec les franchiseurs
                            </h2>
                            <p>
                                Comparez les concepts commerciaux les plus innovants, 
                                choisissez ceux qui vous intéressent et commencez à échanger avec les responsables de la franchise.
                            </p>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex flex-wrap h-80 justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc2.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title mb-3">
                                Commencer l’étude de marché
                            </h2>
                            <p>
                                Découvrez comment faire une étude de marché locale et évaluer le potentiel économique de votre projet. 
                                Commencez sans délais la réalisation de votre étude. 
                            </p>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex flex-wrap h-80 justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc3.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title mb-3">
                                Monter son dossier bancaire
                            </h2>

                            <p>
                                Effectuez les démarches pour obtenir le financement bancaire de votre projet et entamez 
                                le dialogue avec la banque.
                            </p>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex h-80 flex-wrap justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc4.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title mb-3">
                               Cibler les locaux potentiels
                            </h2>

                             <p>
                                Effectuez un premier repérage de locaux potentiels sur la zone géographique souhaitée, 
                                sélectionnez des locaux et obtenez toutes les infos et contacts.
                            </p>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->
</section>

<section class="about-section">
    <div class="container-fluid">
        <div class="row pl-7 pr-7">
            <div class="col-12">
                <header class="heading d-flex justify-content-between align-items-center">
                    <h2 class="entry-title mb-4">A propos de notre masterclass</h2>
                </header><!-- .heading -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 align-content-lg-stretch">
                <header class="heading">
                    <p class="text-justify">
                        Une masterclass inSiti est une journée de 5h de formation intensive, en groupe de 8 à 15 personnes, 
                        avec des intervenants professionnels. Ce format est idéal pour mettre en place et accélérer votre 
                        projet de création de commerce. Choix de l’activité et de l’enseigne, dossier bancaire, ciblage du local. 
                        Les masterclass reposent sur une pédagogie de la pratique: vous préparez votre projet sur place.
                    </p>
                    <p class="text-justify">
                        L’objectif? Permettre à tous ceux qui souhaitent ouvrir un commerce, en franchise ou en indépendant, 
                        de définir leur projet et de démarrer les échanges avec les bons interlocuteurs.
                    </p>
                </header><!-- .heading -->

                <div class="entry-content masterclass-stats">
                    <div class="masterclass-wrap d-flex flex-wrap justify-content-lg-between">
                        <div class="masterclass-count">
                            1800
                            <p>ENSEIGNES PROPOSEES</p>
                        </div><!-- .stats-count -->

                        <div class="masterclass-count">
                            4
                            <p>BANQUES PARTENAIRES</p>
                        </div><!-- .stats-count -->

                        <div class="masterclass-count">
                            4
                            <p>ATELIERS PRATIQUES</p>
                        </div><!-- .stats-count -->

                        <div class="masterclass-count">
                            5
                            <p>HEURES INTENSIVES</p>
                        </div><!-- .masterclass-count -->
                    </div><!-- .masterclass-wrap -->
                </div><!-- .masterclass-stats -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 d-flex align-content-center mt-lg-0 p-lg-8">
                <div class="masterclass-image position-relative">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/vs1.jpeg'), :alt => "Image" %>
                </div><!-- .ezuca-video -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<section class="event-section spad">
    <div class="container">
        <header class="heading d-flex justify-content-between align-items-center">
            <h2 class="entry-title m-auto">Nos formats</h2>
        </header><!-- .heading -->
       
        <div class="row mt-6">
            <div class="col-md-6 event-item">
                <div class="event-thumb">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/es3.jpg'), :alt => "Image" %>
                    <div class="event-date">
                        <span>A Paris</span>
                    </div>
                </div>
                <div class="event-info w-80 m-auto">
                    <p>
                        Retrouvez nos masterclass du week-end dans nos bureaux de Boulogne Billancourt, 
                        ouvertes à tous les porteurs de projet
                    </p>
                </div>
            </div>
            <div class="col-md-6 event-item">
                <div class="event-thumb">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/es4.jpg'), :alt => "Image" %>
                    <div class="event-date">
                        <span>Sur le terrain</span>
                    </div>
                </div>
                <div class="event-info w-80 m-auto">
                    <p>
                        Retrouvez nos masterclass itinérantes dans les villes, 
                        avec les candidats locaux pour structurer et accélérer les projets d’implantations commerciales
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients-logo">
    <div class="container-fluid">
        <div class="row pl-7 pr-7">
            <div class="col-12 d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/bp.png'), :alt => "Image", :class=> "h-50 w-50" %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/bnp.png'), :alt => "Image", :class=> "h-100 w-100"  %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/sg.png'), :alt => "Image", :class=> "h-100 w-100"  %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/cci.png'), :alt => "Image", :class=> "h-100 w-100" %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/ca.png'), :alt => "Image", :class=> "h-100 w-100" %>
                </div><!-- .logo-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<footer>
    <div class="footer-bar">
        <div class="container-fluid">
            <div class="row pl-7 pr-7 flex-wrap justify-content-center justify-content-lg-between align-items-center">
                <div class="col-12 col-lg-6 col-md-12 text-center text-lg-left">
                    <p class="footer-copyright">
                        Copyright © <a href="https://insiti.com/" target="_blank">inSiti </a> | 
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="http://www.insiti.co/" target="_blank"> inSiti Groupe</a>
                    </p>
                </div>

                 <div class="col-12 col-lg-6 col-md-12 mt-md-0 text-center text-lg-right">
                    <!-- Social Networks -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.facebook.com/inSitiNews/" target="_blank">
                                <span class="fab fa-facebook-f u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.linkedin.com/company/insiti/about/" target="_blank">
                                <span class="fab fa-linkedin u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://twitter.com/insitinews" target="_blank">
                                <span class="fab fa-twitter u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://instagram.com/insiti_news" target="_blank">
                                <span class="fab fa-instagram u-icon__inner"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Social Networks -->
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer>
