<!-- Header Section -->
<header class="bg-img">    
    <div class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="#" rel="home">inSiti<span>Masterclass</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-3 col-lg-9 d-flex justify-content-end align-content-center">
                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <div class="read-more">
                                <a href="#">INSCRIPTION</a>
                            </div>
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </div>

    <div class="hero-content-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-content-wrap d-flex flex-column justify-content-center align-items-start">
                        <header class="entry-header">
                            <h4>Ouvrir une franchise</h4>
                            <h1>
                                FORMATION D’UNE JOURNEE POUR<br>
                                ACCELERER VOTRE PROJET<br>
                                D’OUVERTURE DE COMMERCE
                            </h1>
                        </header><!-- .entry-header -->

                        <div class="entry-content">
                            <p>
                                Venez participer à l’une de nos journées de formation pour affiner votre projet de création de commerce, 
                                en franchise ou en indépendant, et trouver les bons interlocuteurs.
                            </p>
                        </div><!-- .entry-content -->

                        <footer class="entry-footer read-more">
                            <a href="#">Inscription</a>
                        </footer><!-- .entry-footer -->
                    </div><!-- .hero-content-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
</header>

<section class="icon-boxes">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-stretch">
            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-user"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Un masterclass d’une journée</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Une petite journée bien remplie, accessible à tout porteur de projet de la région parisienne ou d’ailleurs</p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-folder"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Des ateliers pratiques</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>
                        Une journée divisée en petits ateliers pratiques, appliqués au projet de 
                        chaque participant pour préparer les éléments essentiels de son dossier
                    </p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-book-open"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Des intervenants extérieurs</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>Des ateliers encadrés et animés par des acteurs professionnels, franchises, banques, pour avancer concrètement.</p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->

            <div class="icon-box">
                <div class="icon">
                    <span><i class="fas fa-globe"></i></span>
                </div><!-- .icon -->

                <header class="entry-header">
                    <h2 class="entry-title">Vous pouvez vous lancer</h2>
                </header><!-- .entry-header -->

                <div class="entry-content">
                    <p>
                        Le but de la journée est simple, permettre aux participants de venir avec des idées et 
                        de repartir avec un ou plusieurs projets précis et les contacts nécessaires pour avancer 
                    </p>
                </div><!-- .entry-content -->
            </div><!-- .icon-box -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</section>

<section class="featured-courses horizontal-column courses-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="heading d-flex justify-content-between align-items-center">
                    <h2 class="entry-title">Nos ateliers pratiques</h2>
                </header><!-- .heading -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex flex-wrap h-80 justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc1.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                Comparez les concepts commerciaux les plus innovants, 
                                choisissez ceux qui vous intéressent et commencez à échanger avec les responsables de la franchise
                            </h2>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex flex-wrap h-80 justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc2.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                Découvrez comment faire une étude de marché locale et évaluer le potentiel économique de votre projet. 
                                Commencez sans délais la réalisation de votre étude. 
                            </h2>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex flex-wrap h-80 justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc3.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                Effectuez les démarches pour obtenir le financement bancaire de votre projet et entamez 
                                le dialogue avec la banque
                            </h2>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6">
                <div class="course-content d-flex h-80 flex-wrap justify-content-between align-content-lg-stretch">
                    <figure class="course-thumbnail">
                            <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/fc4.jpg'), :alt => "Image" %>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                Effectuez un premier repérage de locaux potentiels sur la zone géographique souhaitée, 
                                sélectionnez des locaux et obtenez toutes les infos et contacts
                            </h2>
                        </header><!-- .entry-header -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->
</section>

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 align-content-lg-stretch">
                <header class="heading">
                    <h2 class="entry-title">A propos de notre masterclass</h2>
                    <p class="text-justify">
                        Une masterclass inSiti est une journée de 5h de formation intensive, en groupe de 8 à 15 personnes, 
                        avec des intervenants professionnels. Ce format est idéal pour mettre en place et accélérer votre 
                        projet de création de commerce. Choix de l’activité et de l’enseigne, dossier bancaire, ciblage du local. 
                        Les masterclass reposent sur une pédagogie de la pratique: vous préparez votre projet sur place.
                    </p>
                    <p class="text-justify">
                        L’objectif? Permettre à tous ceux qui souhaitent ouvrir un commerce, en franchise ou en indépendant, 
                        de définir leur projet et de démarrer les échanges avec les bons interlocuteurs.
                    </p>
                </header><!-- .heading -->

                <div class="entry-content masterclass-stats">
                    <div class="masterclass-wrap d-flex flex-wrap justify-content-lg-between">
                        <div class="masterclass-count">
                            1800
                            <p>ENSEIGNES PROPOSEES</p>
                        </div><!-- .stats-count -->

                        <div class="masterclass-count">
                            4
                            <p>BANQUES PARTENAIRES</p>
                        </div><!-- .stats-count -->

                        <div class="masterclass-count">
                            4
                            <p>ATELIERS PRATIQUES</p>
                        </div><!-- .stats-count -->

                        <div class="masterclass-count">
                            5
                            <p>HEURES INTENSIVES</p>
                        </div><!-- .masterclass-count -->
                    </div><!-- .masterclass-wrap -->
                </div><!-- .masterclass-stats -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 d-flex align-content-center mt-5 mt-lg-0">
                <div class="masterclass-image position-relative">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/vs1.jpeg'), :alt => "Image" %>
                </div><!-- .ezuca-video -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<section class="event-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>Nos formats</h3>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 event-item">
                <div class="event-thumb">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/es3.jpg'), :alt => "Image" %>
                    <div class="event-date">
                        <span>A Paris</span>
                    </div>
                </div>
                <div class="event-info">
                    <p>
                        Retrouvez nos masterclass du week-end dans nos bureaux de Boulogne Billancourt, 
                        ouvertes à tous les porteurs de projet
                    </p>
                </div>
            </div>
            <div class="col-md-6 event-item">
                <div class="event-thumb">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/es4.jpg'), :alt => "Image" %>
                    <div class="event-date">
                        <span>Sur le terrain</span>
                    </div>
                </div>
                <div class="event-info">
                    <p>
                        Retrouvez nos masterclass itinérantes dans les villes, 
                        avec les candidats locaux pour structurer et accélérer les projets d’implantations commerciales
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients-logo">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/bp.png'), :alt => "Image", :class=> "h-50 w-50" %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/bnp.png'), :alt => "Image", :class=> "h-100 w-100"  %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/sg.png'), :alt => "Image", :class=> "h-100 w-100"  %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/cci.png'), :alt => "Image", :class=> "h-100 w-100" %>
                </div><!-- .logo-wrap -->

                <div class="logo-wrap logo-wrap-custom">
                    <%= image_tag asset_pack_path('init/bootstrap/theme/img/bg-shapes/ca.png'), :alt => "Image", :class=> "h-100 w-100" %>
                </div><!-- .logo-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<footer>
    <div class="footer-bar">
        <div class="container">
            <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
                <div class="col-6">
                    <p class="footer-copyright">
                        Copyright © <a href="https://insiti.com/" target="_blank">inSiti </a> | 
                        <script>document.write(new Date().getFullYear());</script> All rights reserved 
                    </p>
                </div>

                 <div class="col-md-6 mt-md-0 text-center  text-md-right">
                    <!-- Social Networks -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.facebook.com/inSitiNews/" target="_blank">
                                <span class="fab fa-facebook-f u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://www.linkedin.com/company/insiti/about/" target="_blank">
                                <span class="fab fa-linkedin u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://twitter.com/insitinews" target="_blank">
                                <span class="fab fa-twitter u-icon__inner"></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-bg-transparent u-icon u-icon-light--air" href="https://instagram.com/insiti_news" target="_blank">
                                <span class="fab fa-instagram u-icon__inner"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Social Networks -->
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer>

